.colored-Nav{
  background-color: rgba(53, 112, 238, 0.829);
  top:0;
  position: fixed;
  z-index:100;
  backdrop-filter: blur(8px);

}
#navbar-menu-nav-dropdown
{
  color: white;
  font-weight: bold;
  background-color: --bs-body-color;
}
